 /*
 **
 * *
 * * **										  ┏━━━━━━━━━━┓
 * * * * * * * * * WEB重置样式表正在加载中...    ┃▉▉▉▉▉▉ 99.9% ┃ 
 * * **										  ┗━━━━━━━━━━┛
 * *
 ** 
 */
 /* 清除内外边距 */
 
 * {
 	margin: 0;
 	padding: 0;
 	/*overflow-y: hidden!important;*/
 }
 .tp-margin{
 	margin: 0 3%;
 }
 .tp-padding{
 	padding: 0 3%;
 }
 .center {
 	text-align: center;
 }
 
 .margin-0 {
 	margin: 0 auto;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 p,
 blockquote,
 div,
 span,
 iframe,
 /* structural elements 结构元素 */
 
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 a,
 address,
 img,
 /* list elements 列表元素 */
 
 pre,
 small,
 b,
 i,
 em,
 /* text formatting elements 文本格式元素 */
 
 fieldset,
 legend,
 button,
 input,
 textarea,
 form,
 label,
 /* form elements 表单元素 */
 
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 /* table elements 表格元素 */
 
 article,
 footer,
 header,
 nav,
 section,
 audio,
 video,
 figure {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	vertical-align: baseline;
 	font-family: "微软雅黑", sans-serif;
 	font-size: inherit;
 	color: inherit;
 }
 /* 设置默认字体 */
 
 body,
 button,
 input,
 select,
 textarea {
 	/* for ie */
 	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
 	font: 14px/1 "微软雅黑", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
 	/* 用 ascii 字符表示，使得在任何编码下都无问题 */
 	outline: none;
 }
 
 body,
 html {
 	font-family: "微软雅黑", sans-serif;
 	font-size: 14px;
 	height: 100%;
 	/*移动端开发，去掉手机右侧滚动条*/
 	overflow: hidden;
 	overflow-y: scroll;
 	max-width: 640px;
 	margin: 0 auto;
 }
 
 article,
 aside,
 footer,
 header,
 nav,
 section {
 	display: block;
 }
 
 h1 {
 	font-size: 18px;
 	/* 18px / 12px = 1.5 */
 }
 
 h2 {
 	font-size: 16px;
 }
 
 h3 {
 	font-size: 14px;
 }
 
 h4,
 h5,
 h6 {
 	font-size: 100%;
 }
 
 address,
 cite,
 dfn,
 em,
 var {
 	font-style: normal;
 }
 /* 将斜体扶正 */
 
 code,
 kbd,
 pre,
 samp,
 tt {
 	font-family: "Courier New", Courier, monospace;
 }
 /* 统一等宽字体 */
 
 small {
 	font-size: 12px;
 }
 /* 小于 12px 的中文很难阅读，让 small 正常化 */
 /* 重置列表元素 */
 
 ul,
 ol {
 	list-style: none;
 }
 /* 重置文本格式元素 */
 
 a {
 	text-decoration: none;
 	color: inherit;
 	font-size: inherit;
 }
 /*a:hover { text-decoration: underline; }*/
 
 abbr[title],
 acronym[title] {
 	/* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
 	border-bottom: 1px dotted;
 	cursor: help;
 }
 
 q:before,
 q:after {
 	content: '';
 }
 /* 重置表单元素 */
 
 legend {
 	color: #000;
 }
 /* for ie6 */
 
 fieldset,
 img {
 	border: none;
 }
 /* img 搭车：让链接里的 img 无边框 */
 /* 注：optgroup 无法扶正 */
 
 button,
 input,
 select,
 textarea {
 	font-size: 100%;
 	/* 使得表单元素在 ie 下能继承字体大小 */
 }
 /* 重置表格元素 */
 
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 /* 重置 hr */
 
 hr {
 	border: none;
 	height: 1px;
 }
 /* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
 
 html {
 	overflow-y: scroll;
 }
 /*  浮动  */
 
 .fl {
 	float: left
 }
 
 .fr {
 	float: right
 }
 /*版心*/
 /*  清除浮动  */
 
 .clearfix:after {
 	content: " ";
 	display: block;
 	clear: both;
 	visibility: hidden;
 }
 
 .font-size12 {
 	font-size: 12px;
 }
 
 .font-size14 {
 	font-size: 14px;
 }
 
 .font-size16 {
 	font-size: 16px;
 }
 
 .font-size18 {
 	font-size: 18px;
 }
 
 .font-size20 {
 	font-size: 20px;
 }
 .weight-bold{
 	font-weight: bold;
 }
 .display-none {
 	display: none!important;
 }
 
 .display-block {
 	display: block!important;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-weight: normal;
 }